# **리스트**

## 리스트 자료형 생성하기

In [1]:
# 5명의 학생에 대한 성적 나열.
grade = [ 98, 82, 73, 64, 100 ]
print( grade )

[98, 82, 73, 64, 100]

In [3]:
# 각 학생의 이름에 대한 나열
names = [ "철수" , "영희", "나영", "민식", "호영" ]
print(names)

['철수', '영희', '나영', '민식', '호영']

In [8]:
# 파이썬은 서로 다른 자료형들을 함께 사용 가능
stud1 = [ "철수", 98 ]
stud2 = [ "영희", 82 ]
stud3 = [ "나영", 73 ]
print(stud1)
print(stud2)
print(stud3)

['철수', 98]
['영희', 82]
['나영', 73]

## 인덱스 번호를 통해 리스트의 각 원소 사용하기

In [10]:
name = stud1[0]
point = stud1[1]
print(name)
print(point)

철수
98

In [11]:
# 값의 변경
stud1[0] = "철호"
stud1[1] = 100

In [12]:
# 리스트의 원소를 직접 출력하는 예시
msg = "{0}(이)의 점수는 {1}점 입니다. "
print( msg.format(stud1[0], stud1[1]) )
print( msg.format(stud2[0], stud2[1]) )
print( msg.format(stud3[0], stud3[1]) )

철호(이)의 점수는 100점 입니다.
영희(이)의 점수는 82점 입니다.
나영(이)의 점수는 73점 입니다.

## 2차원 리스트의 생성

In [14]:
stud1 = ["철수", 98]
stud2 = ["영희", 82]
stud3 = ["나영", 73]

stud_group = [ stud1, stud2, stud3 ]
print(stud_group)

[['철수', 98], ['영희', 82], ['나영', 73]]

## 각 원소에 접근하여 출력하기

In [17]:
# 1차원 원소에 접근하기
print(stud_group[0])
print(stud_group[1])

['철수', 98]
['영희', 82]

In [18]:
# 2차원 원소에 접근하기
print(stud_group[0][0])
print(stud_group[0][1])
print(stud_group[1][0])
print(stud_group[1][1])

철수
98
영희
82

## 리스트의 인덱싱

In [28]:
mylist = [10, 20, 30, 40, 50 ]

In [29]:
# 1번째 원소에 접근 -> 0부터
print(mylist[1])

20

In [30]:
# 뒤에서 1번째 원소에 접근 -> -1부터
print(mylist[-1])

50

## 리스트 슬라이싱

### 문자열과 동일

In [31]:
# 1번째 부터 3번째 전까지
print(mylist[1:3])

# 0번째(처음) 부터 3번째 전까지
print(mylist[:3])

# 3번쨰부터 끝까지
print(mylist[3:])

# 리스트 전체
print(mylist[:])

# list에서 1번쨰부터 뒤에서 두번째 다음까지
print(mylist[1:-2])

[20, 30]
[10, 20, 30]
[40, 50]
[10, 20, 30, 40, 50]
[20, 30]

## 리스트의 연산

In [39]:
list1 = [1,2,3]
list2 = [4,5,6]

# 덧셈은 단순 병합
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [33]:
# 곱셉은 내용 반복
list4 = list1 * 3
print(list4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트의 확장 / 축소

In [34]:
# 대입연산자 값 수정
mylist = [1,2,3]
mylist[2] = 4
print(mylist)

[1, 2, 4]

In [35]:
# 대입연산자 범위 수정
mylist = [1,2,3]
mylist[1:3] = [20,30]
print(mylist)

[1, 20, 30]

In [36]:
# 주어진 범위보다 작은 개수를 갖는 리스트 지정 -> 리스트 잘림
mylist = [1,2,3]
mylist[1:3] = [1000]
print(mylist)

[1, 1000]

In [37]:
# 주어진 범위보다 많은 개수를 갖는 리스트 지정 -> 리스트 확장
mylist = [1,2,3]
mylist[1:2] = [7,8,9,0]
print(mylist)

[1, 7, 8, 9, 0, 3]

## 리스트의 원소 삭제

In [40]:
# 특정 위치의 원소 삭제
mylist = [1,2,3,4,5]
del(mylist[1])
print(mylist)

[1, 3, 4, 5]

In [41]:
# 특정 범위 삭제
mylsit = [1,2,3,4,5]
del(mylsit[1:3])
print(mylist)

[1, 3, 4, 5]

In [43]:
# 특정 범위 삭제 다른 방법
mylist = [1,2,3,4,5]
mylist[1:3] = []
print(mylsit)

[1, 4, 5]

## 리스트 삽입 확장 비교

In [45]:
# 인덱싱으로 접근하는 경우 -> 단순 삽입
mylist = [1,2,3,4,5]
print(mylist)
mylist[1] = [100, 200]
print(mylist)

[1, 2, 3, 4, 5]
[1, [100, 200], 3, 4, 5]

In [46]:
# 슬라이싱으로 접근하는 경우 -> 확장 또는 축소
mylist = [1,2,3,4,5]
print(mylist)
mylist[1:2] = [100, 200]
print(mylist)

[1, 2, 3, 4, 5]
[1, 100, 200, 3, 4, 5]

## 리스트 관련 함수(1)

In [47]:
# 원소의 개수 조회
# len() 함수 사용

In [48]:
# 맨 뒤에 내용 추가
my_list = [1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [49]:
# 리스트를 append 할 경우 2차 리스트로 삽입.
my_list = [ 1,2,3 ]
my_list.append([5,6])
print(my_list)

[1, 2, 3, [5, 6]]

## 리스트 관련 함수(2)

In [51]:
# 중간삽입
my_list = [1,2,3]
my_list.insert(1,10)
print(my_list)

[1, 10, 2, 3]

In [52]:
# 마지막 요소를 꺼내고 삭제]
my_list = [1,2,3]
k = my_list.pop()
print(k)
print(my_list)

3
[1, 2]

## 리스트 관련 함수(3)

In [53]:
# 리스트 확장
my_list = [1,2,3]
addon = [10, 9,8,7]
my_list.extend( addon )
print(my_list)

[1, 2, 3, 10, 9, 8, 7]

In [55]:
# 주어진 값과 일치하는 원소의 개수
my_list = [1,2,3,2]
c = my_list.count(2)
print(c)

2

In [57]:
# 인덱스 반환
my_list = [1,2,3,10,1,2,3,10]
x = my_list.index(10)
print(x)

3

In [58]:
# 순서 뒤집기
my_list = [1,3,5,7,9]
my_list.reverse()
print(my_list)

[9, 7, 5, 3, 1]

In [59]:
# 순차정렬
my_list = [2,5,1,6,3]
my_list.sort()
print(my_list)

[1, 2, 3, 5, 6]

In [60]:
# 역순정렬
my_list = [2,5,1,6,3]
my_list.sort(reverse = True)
print(my_list)

[6, 5, 3, 2, 1]

In [61]:
# 문자열을 리스트로 변환
text = "Hello,Python,World,Good"
mylist = text.split(",")
print(mylist)

['Hello', 'Python', 'World', 'Good']

# 튜플

## 리스트와 동일한 특성을 가짐
## 원소의 값을 변경 불가
## 값이 변경되는 함수 제외 내장함수 같음