# **딕셔너리**

## 딕셔너리 자료형의 기본 형식

### 딕셔너리 형식의 데이터 만들기

In [1]:
# 딕셔너리 정의하기
# -> 이름(key)과 값(value)가 쌍을 이루는 자료구조
dic = { 'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}
print(dic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [2]:
# 특정 원소에 접근하기 -> 직접 출력
print( dic["name"] )

철수

In [3]:
# 특정 원소에 접근하기 -> 다른 변수에 복사
phone = dic["phone"]
print(phone)

010-1234-5678

### 딕셔너리 원소의 수정, 추가, 삭제

In [4]:
# 특정 원소의 값을 변경
dic["name"] = "호영"
print( dic["name"] )

호영

In [5]:
# 존재하지 않는 키에 값을 할당하면 확장
dic["height"] = 175
print(dic)

{'name': '호영', 'phone': '010-1234-5678', 'birth': '0115', 'height': 175}

In [6]:
# key가 birth인 데이터 삭제
del(dic["birth"])
print(dic)

{'name': '호영', 'phone': '010-1234-5678', 'height': 175}

### 딕셔너리 key의 특성

In [7]:
# 키가 중복될 경우 하나를 제외한 나머지는 무시됨
# 나중에 정의된 항목이 덮어씌움
data = {"msg" : "hello", "msg" : "world", "msg" : "python"}
print(data['msg'])

python

In [8]:
# 딕셔너리는 리스트와 다르게 자료의 순서가 중요하지 않음
# 키는 정수형 지정가능
rank = {0: "Pyhton", 30: "R", 10: "java"}
print(rank[0])
print(rank[30])
print(rank[10])

Pyhton
R
java

## 딕셔너리의 계층화 구조

### 리스트나 다른 딕셔너리를 포함하는 딕셔너리

In [10]:
# 딕셔너리는 리스트나 다른 딕셔너리를 포함할 수 있다.
# -> 정보를 계층화해서 표현 가능함
addr = ["서울", "서초구", "강남대로"]
grade = {"korean" : 98, "math" : 77, "english" : 82}

member = {
    "userid": "python",
    "age": 20,
    "addr": addr,
    "grade": grade
}
                                    
print(member)

{'userid': 'python', 'age': 20, 'addr': ['서울', '서초구', '강남대로'], 'grade': {'korean': 98, 'math': 77, 'english': 82}}

In [11]:
# 계층화된 값에 접근하기
print( member["addr"][0])
print( member["grade"]["korean"])

서울
98

### 딕셔너리의 계층화

In [14]:
# 딕셔너리의 계층화 직접 표현
mydic = {
    'total' : 1962,
    'city' : ["서울", "대전", "광주"],
    'population' : [987, 654, 321],
    'date' : { 'yy' : 2018, 'mm':9, 'dd': 10}
}

print(mydic)
print(mydic["city"][0])
print(mydic["population"][0])
print(mydic["date"]["yy"])

{'total': 1962, 'city': ['서울', '대전', '광주'], 'population': [987, 654, 321], 'date': {'yy': 2018, 'mm': 9, 'dd': 10}}
서울
987
2018

### 딕셔너리를 원소로 갖는 리스트

In [16]:
# 리스트의 원소가 딕셔너리가 되는 경우 -> 표 자료형
grade = [
    {"name" : "철수", "kor":95, "eng": 88},
    {"name" : "영희", "kor":92, "eng": 90},
    {"name" : "철민", "kor":88, "eng": 76}    
]

tpl = "{0}의 국어점수:{1}, 영어점수: {2}"
print( tpl.format(grade[0]["name"], grade[0]["kor"], grade[0]["eng"]) )
print( tpl.format(grade[1]["name"], grade[1]["kor"], grade[1]["eng"]) )
print( tpl.format(grade[2]["name"], grade[2]["kor"], grade[2]["eng"]) )

철수의 국어점수:95, 영어점수: 88
영희의 국어점수:92, 영어점수: 90
철민의 국어점수:88, 영어점수: 76

### 딕셔너리 관련 함수

In [22]:
dic = { "name" : "철수", "phone": "010-1234-5678", "birth": "0115"}

# dic["name"]과 동일
print(dic.get("name"))


# 존재하지 않는 키는 none 반환
# dic["gender"]는 오류를 발생
print(dic.get("gender"))

# key가 존재하지 않을 경우 대신 반환될 값을 정할 수 있음
print(dic.get("gender", "남자"))

철수
None
남자

In [23]:
# Key 추출
keys = dic.keys()
print(keys)

dict_keys(['name', 'phone', 'birth'])

In [24]:
# key를 리스트로 저장
key_list = list(keys)
print(key_list)

['name', 'phone', 'birth']

In [27]:
# Value 추출
values = dic.values()
print(valuse)

dict_values(['철수', '010-1234-5678', '0115'])

In [28]:
# Value를 리스트로 저장
values_list = list(values)
print(values_list)

['철수', '010-1234-5678', '0115']

In [29]:
# key-value 쌍으로 튜플인 item얻기
items = dic.items()
print(items)

dict_items([('name', '철수'), ('phone', '010-1234-5678'), ('birth', '0115')])

In [30]:
lists = list(items)
print(lists)

[('name', '철수'), ('phone', '010-1234-5678'), ('birth', '0115')]

# 변수의 특성

## 변수를 생성하는 다양한 방법

### 튜플을 활용하여 여러 개의 변수를 일괄 생성하기

In [32]:
# 튜플을 통한 변수 생성
a ,b = ("python", "bigdate")
#(a,b) = "hello", "world"
#(a,b) = ("안녕", "파이썬")
print(a)
print(b)

python
bigdate

In [33]:
# 리스트를 통한 방법도 같은 결과

a ,b = ["python", "bigdate"]
#[a,b] = "hello", "world"
#[a,b] = ["안녕", "파이썬"]
print(a)
print(b)

python
bigdate

### 동일한 값을 갖는 여러 개의 변수 일괄 생성 / 변수 값의 교환

In [34]:
# 동일한 값을 갖는 여러 변수 생성
a = b = c = 1234
print(a)
print(b)
print(c)

1234
1234
1234

In [35]:
# 두 변수의 값을 교환
x = 1
y = 2
x ,y = y ,x
print(x)
print(y)

2
1

## 값 복사와 참조 복사

### 값 복사
---

기본 데이터 타입 변수는 값을 복사한다

### 참조 복사
---

기본 데이터 타입 이외의 자료형은 참조복사
**(변수의 이름만 씀 타 언어와 유사한듯)**

### 슬라이싱이나 메서드를 활용한 리스트의 복사

In [38]:
# 슬라이싱을 활용한 방법
bar = [1,2,3]
cp1 = [0,0,0]

cp2 = bar[:]
print(bar)
print(cp2)

[1, 2, 3]
[1, 2, 3]

In [39]:
cp2[1] =12345
print(bar)
print(cp2)

[1, 2, 3]
[1, 12345, 3]

In [40]:
# 리스트 객체의 함수를 사용하는 방법
cp3 = cp2.copy()

# 원본에 영향이 없음
cp3[0] = 12345
print(cp2)
print(cp3)

[1, 12345, 3]
[12345, 12345, 3]

# 조건문

### Boolean값에 대한 조건식 판별

In [41]:
print("배고픈데")

배고픈데

In [42]:
have_money = True
#have_money = False

In [43]:
if have_money:
    # 타 언어의 중괄호와 같은 역할을 들여쓰기가 함
    # 탭과 스페이스 혼용 에러
    print("식당에서")
    
print("밥을 먹자")

식당에서
밥을 먹자

### 숫자형 변수와 문자열 변수에 대한 조건식 판별
---
0이거나 값이 비어있지 않다면 True **( 타 언어와 유사 )**

### 리스트에 대한 조건식 판별
---
리스트에 원소가 있다면 True, empty라면 False판별

### 비교식과 논리식
---
연산 결과에 따름

### is 연산자를 통한 조건식 구성

In [66]:
# is는 두 변수의 값이 동일하면 True
a = 123
b = 123
c = 234

if a is b:
    print("a와 b는 같다")
    
if b is c:
    print("b와 c는 같다")

a와 b는 같다

### is 연산자의 특성
---
"is" 는 == 과 다르게 변수의 타입까지 비교한다. 서로 다른 자료형은 같지 않다고 판별한다.

### is not 연산자
---
값이 다르면 True

### in 연산자

In [68]:
# 포함 여부를 검사하는 in 연산자
# -> in은 왼쪽의 값이 오른쪽 대상에 포함되어 있다면 True
user1 = "hello"
user2 = "world"
member_list = ['hello', 'python', 'life']

# -> 왼쪽의 변수가 오른쪽의 리스트에 속한 값이면 참
a = user1 in member_list
print(a)

b = user2 in member_list
print(b)

True
False

### not in 연산자
---
포함되지 않았으면 True

### else 사용하기

In [69]:
age = 19

if age > 19:
    print("성인입니다.")
else:
    print("성인이 아닙니다.")

성인이 아닙니다.

### else 활용

In [70]:
user1 = "hello"
user2 = "world"
member_list = ['hello', 'python', 'list']

if user1 in member_list:
    print("%s는 이미 가입되어 있습니다." %user1)
else:
    print("%s는 이미 가입되어 있지 않습니다." %user1)

if user2 in member_list:
    print("%s는 이미 가입되어 있습니다." %user2)
else:
    print("%s는 이미 가입되어 있지 않습니다." %user2)

hello는 이미 가입되어 있습니다.
world는 이미 가입되어 있지 않습니다.

### elif절의 활용 예시

In [72]:
# 다양한 경우의 수 나열
# -> elif는 if와 else 사이에서 나열된 조건 중
# 처음으로 만나느 참인 조건에 대한 블록을 수행하고
# 나머지 조건은 무시하고 종료한다.

point = 72

if point > 90:
    print("A학점")
elif point > 80:
    print("B학점")
elif point > 70:
    print("C학점")
elif point > 70:
    print("C학점")
elif point > 60:
    print("D학점")
else:
    print("F학점")

C학점

# **연습문제 6**

In [75]:
cart = [
    {"price" : 38000, "qty" : 6},
    {"price" : 20000, "qty" : 4},
    {"price" : 17900, "qty" : 3},
    {"price" : 17900, "qty" : 5}
]

tpl = "{0}원 x {1}개 -> 총 {2}원"
print(tpl.format(cart[0]['price'], cart[0]['qty'],
                cart[0]['price'] * cart[0]['qty']))
print(tpl.format(cart[1]['price'], cart[1]['qty'],
                cart[1]['price'] * cart[1]['qty']))
print(tpl.format(cart[2]['price'], cart[2]['qty'],
                cart[2]['price'] * cart[2]['qty']))
print(tpl.format(cart[3]['price'], cart[3]['qty'],
                cart[3]['price'] * cart[3]['qty']))

38000원 x 6개 -> 총 228000원
20000원 x 4개 -> 총 80000원
17900원 x 3개 -> 총 53700원
17900원 x 5개 -> 총 89500원

# **연습문제7**

In [81]:
height, weight = [174, 65]

if height <= 150:
    standard_weight = height - 110
else:
    standard_weight = (height - 110) * 0.9
    
obesity = (weight - standard_weight)/standard_weight * 100

if obesity <= 20:
    print("정상(안심)")
elif obesity > 20 and obesity <= 30:
    print("경도비만(주의)")
elif obesity > 30 and obesity <= 50:
    print("중등도 비만(위험)")
elif obesity > 50:
    print("고도비만(매우위험)")

정상(안심)

어디를 수비하시겠어요?(왼쪽, 중앙, 오른쪽) 중앙

실패

666.6666666666666