# SQLAlchemy를 이용한 데이터 입출력

In [18]:
## SQL 패키지 import

import pymysql
from sqlalchemy import create_engine
import pandas as pd
from pandas import DataFrame
from matplotlib import pyplot
from pandas import read_excel

## 데이터베이스 접속정보 초기화

In [2]:
HOSTNAME = 'localhost'
PORT = 3306
USERNAME = 'root'
PASSWORD = 'root'
DATABASE = 'myschool'
CHARSET1 = 'utf8'
CHARSET2= 'utf-8'

## 데이터베이스 접속하기

### 접속 문자열 생성하기

In [3]:
con_str_fmt = 'mysql+mysqldb://{0}:{1}@{2}:{3}/{4}?charset={5}'
con_str = con_str_fmt.format(USERNAME, PASSWORD, HOSTNAME, PORT, DATABASE, CHARSET1)
con_str

'mysql+mysqldb://root:root@localhost:3306/myschool?charset=utf8'

### 데이터베이스 접속

In [4]:
# pymysql을 사용하여 MySQL 연동 객체 설치
pymysql.install_as_MySQLdb()
import MySQLdb

In [5]:
engine = create_engine(con_str, encoding=CHARSET2)
conn = engine.connect()

## 테이블 개수 조회

In [8]:
sql = 'show tables'
tables = pd.read_sql(sql,con=conn)
tables

  Tables_in_myschool
0         department
1          professor
2            student

In [19]:
for i in tables['Tables_in_myschool']:
    sql = """
    SELECT
     ORDINAL_POSITION AS `필드순번`,
     COLUMN_NAME AS `필드명`,
     COLUMN_TYPE AS `데이터타입`,
     IS_NULLABLE AS `NULL허용`,
     COLUMN_KEY AS `KEY`,
     EXTRA AS `자동여부`,
     COLUMN_DEFAULT `기본값`,
     COLUMN_COMMENT AS `필드설명`
    FROM
     INFORMATION_SCHEMA.COLUMNS
    WHERE
     TABLE_SCHEMA = 'myschool'
     AND TABLE_NAME = '%s'
    ORDER BY
     TABLE_NAME, ORDINAL_POSITION
     """ %i
    df = pd.read_sql(sql,con=conn).set_index('필드순번')
    df.to_excel('%s명세서.xlsx' %i)

In [19]:
# 접속해제
conn.close()