# **연산자**

## 나눗셈 관련 연산자와 제곱근 연산자

In [1]:
# 나눗셈의 몫을 구함
print( 10/3 )

3.3333333333333335

In [2]:
# 나눗셈에서 소수점 아래 버림
print( 10//3 )

3

In [ ]:
# 나눗셈의 나머지를 구함
print( 10 % 3 )

In [4]:
# 제곱 구하기
print( 3 ** 5 )

243

In [5]:
# 단항 연산자
a = 1
a += 100
a *= 10
a //= 3
a %= 5
print(a)

1

## 비교 연산자

In [6]:
# 비교연산자
print(100 == 50)
print(100 != 50)
print(100 >= 50)
print(100 > 50)
print(100 < 50)
print(100 <= 50)

False
True
True
True
False
False

In [7]:
# 비교 연산 변수 할당
result = 100 > 50
print(result)

True

## 논리연산자

In [8]:
# 논리연산자
print( True and True )
print( True and False )
print( False and True )
print( False and False )

True
False
False
False

In [10]:
print( True or True )
print( True or False )
print( False or True )
print( False or False )

True
True
True
False

In [11]:
# 비교연산의 결과는 bool형식 논리연산 가능
a = 100 > 50
b = 20 > 10
print( a and b )

True

In [13]:
c = 100 >= 100 and 50 == 10
print(c)

False

In [14]:
print( 100 != 200 and 100 == 100)

True

## is 연산자

In [15]:
# 두 변수가 동일한지 판별 is 연산
s1 = a is b
print(s1)

True

In [16]:
s2 = a is c
print(s2)

False

In [17]:
# "==" 와 "is" 의 차이
x = 100   # -> 정수형
y = 100.0 # -> 실수형

In [18]:
# ==는 값만 비교
print( x == y )

True

In [19]:
# is 는 자료형까지 비교
print( x is y )

False

# **문자열**

## 문자열의 기본 특성과 연산 규칙 파악하기

In [20]:
# 쌍따옴표나 홑따옴표로 감싼다
msg1 = "Life is too short"
msg2 = "You need Python"
print(msg1)
print(msg2)

Life is too short
You need Python

In [21]:
# 문자열의 덧셈은 문자열을 연결하는 기능
print( msg1 + ", " + msg2 )

Life is too short, You need Python

In [22]:
# 문자열과 숫자의 곱셈은 동일 내용을 여러번 반복한다
name = "Python"
print( name * 50 )

PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [23]:
# 따옴표로 감싸면 무조건 문자열
pay = "20000"
bonus = "100"
print( pay + bonus )

20000100

## 이스케이프 문자 사용하기

In [26]:
# 문자열 안에 따옴표 넣기
case1 = "Life is \"too\" short"
print(case1)

Life is "too" short

In [28]:
case2 = 'Life is \'too\' short'
print(case2)

Life is 'too' short

In [30]:
# 줄바꿈
print("Life is too short\nYou need Python")

Life is too short
You need Python

In [32]:
# 탭키
print("Life is too short\tYou need Python")

Life is too short	You need Python

In [33]:
# 순수한 \ 출력
print("Life is too short\\You need Python")

Life is too short\You need Python

## 그밖의 문자열 표현

In [34]:
# 따옴표쌍을 조절하여 문자열안에 따옴표 표시
a = "You 'need' Python"
print(a)

You 'need' Python

In [35]:
b = 'You "need" Pyhton'
print(b)

You "need" Pyhton

In [37]:
# 줄바꿈이 가능한 문자열 -> 3중 쌍따옴표
msg = """Life is too short
You need Python"""
print(msg)

Life is too short
You need Python

## 문자열 인덱싱

In [39]:
str = "Life is too short, You need Python"

In [40]:
# 3번째 문자 추출 -> 0부터 카운트
print( str[3] )

e

In [41]:
# 뒤에서 3번째 글자 추출 -> -1 부터 카운트
print( str[-3] )

h

## 문자열 슬라이싱

In [42]:
# 글자수가 정해져 있는 경우 활용도 높음
# ex) 주민번호
# 인덱스의 부호 여부와 상관없이 문자열에서 왼쪽에 있는것 까지
jumin = "8005271"
birth = jumin[:6]
gender = jumin[6:]
print(birth)
print(gender)

800527
1

In [43]:
# 테어난 년도
year = "19" + jumin[:2]
print(year)

1980

In [44]:
# 테어난 월
month = jumin[2:4]
print(month)

05

In [45]:
# 테어난 날
day = jumin[4:6]
print(day)

27

# **문자열 포메팅**

## 정수값과 문자열을 표현하는 형식문자 %d, %s 사용하기

In [46]:
# "%"연산자 뒤의 값이 "%d를 치환한다."
str1 = "나는 %d원을 갖고 있다." % 10000
print(str1)

나는 10000원을 갖고 있다.

In [47]:
# 포멧문자를 포한한 문장만 별도의 변수로 지정
str2 = "%s 날짜는 %d 년 %d월 %d일 입니다."

In [48]:
msg1 = str2 % ("정모", 2018, 1, 1)
print(msg1)

정모 날짜는 2018 년 1월 1일 입니다.

In [49]:
msg2 = str2 % ("약속", 2018, 3, 5)
print(msg2)

약속 날짜는 2018 년 3월 5일 입니다.

## 정수 및 문자열의 자리수 표현과 정렬

In [50]:
# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 공백으로
print("%10d원을 입금했습니다. " % 12000)

     12000원을 입금했습니다.

In [51]:
# 자리수 지정하기 -> 오른쪽 정렬, 빈자리 0으로 지정
print("%010d원을 입금했습니다. " % 12000)

0000012000원을 입금했습니다.

In [52]:
# 자리수 지정하기 -> 왼쪽 정렬, 빈자리는 공백으로
print("%-10d원을 입금했습니다. " % 12000)

12000     월을 입금했습니다.

In [53]:
# 문자열의 자리수 지정하기 -> 빈자리는 공백지정만 가능함.
print("%10s에 살고 있습니다. " % "대한민국")
print("%-10s에 살고 있습니다. " % "대한민국")

      대한민국에 살고 있습니다.
대한민국      에 살고 있습니다.

## 소수값을 표현하는 형식문자 사용하기

In [54]:
# 실수값 표현하기
money = 123.456789
print("%f원 입니다. " % money)

123.456789원 입니다.

In [56]:
# 소수점 3자리까지 표현하기 -> 소수점 4째에서 반올림
print("%0.3f원 입니다. " % money)

123.457원 입니다.

In [57]:
# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 공백)
# 소수점 자리수에 포함됨
# 오른쪽 정렬
print("%10.3f원 입니다. " % money)
# 왼쪽 정렬
print("%-10.3f원 입니다. " % money)

   123.457원 입니다.
123.457   원 입니다.

In [58]:
# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 0)
# -> 빈 자리를 0으로 채우는 경우는 오른쪽 정렬만 가능함.
print("%010.3f원 입니다. " % money)

000123.457원 입니다.

# **format 함수를 사용한 고급 포메팅**

## 인덱스 번호와 이름을 사용한 포메팅

In [59]:
# 0번째 위치에 formay()함수에 전달된 0번째 값을 대입
msg1 = "I eat {0} apples"
print(msg1.format(3))

I eat 3 apples

In [60]:
# 여러 개의 값을 혼용하기
msg2 = "{0}은 {1}년 {2}월 {3}일 입니다."
print(msg2.format("개강일", 2018, 8, 12))

개강일은 2018년 8월 12일 입니다.

In [61]:
# 이름으로 넣기
msg3 = "{name}은 {yy}년 {mm}월 {dd}일 입니다. "
print(msg3.format(name = "종강일", yy = 2018, mm = 10, dd = 20 ))

종강일은 2018년 10월 20일 입니다.

In [62]:
# 혼합사용 -> 숫자형식의 치환자가 먼저 위치해야 함
msg4 = "{0}은 {yy}년 {mm}월 {dd}일 입니다. "
print(msg4.format("생일", yy = 2018, mm = 1, dd = 31))

생일은 2018년 1월 31일 입니다.

## 출력값 정렬하기

In [63]:
# 5글자 오른쪽 정렬 -> "%5s" 와 동일
msg5 = "{0:>5}!!Python, {1:>9}~Python"
print(msg5.format("Hi", "Welcome"))

   Hi!!Python,   Welcome~Python

In [64]:
# 5글자 왼쪽 정렬 -> "%-5s" 와 동일
msg6 = "{0:<5}!!Python, {1:<9}~Python"
print(msg6.format("Hi", "Welcome"))

Hi   !!Python, Welcome  ~Python

In [65]:
# 가운데 정렬
msg7 = "{0:^10}!!Python, {1:^9}~Python"
print(msg7.format("Hi", "Welcome"))

    Hi    !!Python,  Welcome ~Python

In [66]:
# 공백을 지정한 문자로 채우기
msg8 = "{0:~<5}!!Python!! {1:*^9}!!Python"
print(msg8.format("Hi", "Hello"))

Hi~~~!!Python!! **Hello**!!Python

## 소수점 자리수 표현, 중괄호 출력하기

In [69]:
# 소수점 4째자리까지 표현하기 -> 5째자리에서 반올림
msg9 = "{0:0.4f}"
print(msg9.format(123.456789))

123.4568

In [68]:
# 전체 10글자,소수점 4째자리까지 표현하기
msg10 = "{0:10.4f}"
print(msg10.format(123.456789))

  123.4568

In [70]:
# 전체 10글자,공백은 0, 소수점 4째자리까지 표현하기
msg11 = "{0:010.4f}"
print(msg11.format(123.456789))

00123.4568

In [72]:
# 문자열에 "{" 나 "}" 표현하기
msg12 = "{{Python}}은 {0}다"
print(msg12.format("쉽"))
print(msg12.format("좋"))

{Python}은 쉽다
{Python}은 좋다

# **문자열 관련 함수**

## len()을 이요한 문자열 길이 조회

In [74]:
str = "Life is too short, You need Python"

# 전체 글자수 세기 -> 파이썬 내장함수. 한글,영문 구분 없이 1글자씩 카운트
a = len(str)
print(a)
# -> 반환되는 값을 변수에 저장하지 않고 직접 출력도 가능함.
print( len(str) )

34
34

## 검색 관련 기능 (1)

In [75]:
# 특정 글자나 단어의 개수 세기
print( str.count("i") )
print( str.count("a") )
print( str.count("short") )
print( str.count("nice") )

2
0
1
0

In [76]:
# 특정 글자나 단어가 처음 등장하는 위치 조회
# -> 찾지 못할 경우 -1 리턴
print( str.find("t") )
print( str.find("short") )
print( str.find("g") )
print( str.find("nice") )

8
12
-1
-1

## 검색 관련 기능 (2)

In [77]:
# 특정 글자나 단어가 마지막으로 등장하는 위치 조회
# -> find() 함수의 반대 못찾을 경우 -1 리턴
print( str.rfind("t") )
print( str.rfind("short") )
print( str.rfind("g") )
print( str.rfind("nice") )

30
12
-1
-1

In [78]:
# 특정 글자나 단어가 처음 등장하는 위치
# find() 와 비슷하지만, 찾지 못할 경우 에러발생
print( str.index("short") )

12

## 검색 관련 기능 (3)

In [80]:
# 특정 단어나 글자로 시작하는지 여부 검사
print( str.startswith("L") )
print( str.startswith("l") )
print( str.startswith("Life") )
print( str.startswith("H") )
print( str.startswith("Hello") )

True
False
True
False
False

In [81]:
# 특정 단어나 글자로 끝나는지 여부 검사
print( str.endswith("N") )
print( str.endswith("n") )
print( str.endswith("Python") )
print( str.endswith("python") )

False
True
True
False

## 문자열 변환 (1)

In [82]:
# 모든 글자를 대문자로 변환
upchar = str.upper()
print(upchar)

LIFE IS TOO SHORT, YOU NEED PYTHON

In [83]:
# 모든 글자를 소문자로 변환
lowchar = str.lower()
print(lowchar)

life is too short, you need python

In [84]:
# 대문자는 소문자로, 소문자는 대문자로
print( str.swapcase() )

lIFE IS TOO SHORT, yOU NEED pYTHON

In [85]:
# 문장의 첫 글자를 대문자로
print( str.capitalize() )

Life is too short, you need python

In [86]:
# 각 단어의 첫 글자를 대문자로
print( str.title() )

Life Is Too Short, You Need Python

## 문자열 변환 (2)

In [87]:
# 문자열 바꾸기
print( str.replace("Life", "Your height") )

Your height is too short, You need Python

## 문자열 변환 (3)

In [88]:
# 공백 지우기
k = "     python     "
# 왼쪽 공백 지우기
print( k.lstrip() )
# 오른쪽 공백 지우기
print( k.rstrip() )
# 좌우 공백 지우기
print( k.strip() )

python
     python
python

In [89]:
# 파라미터로 전달되는 문자열의 각 글자 사이에 변수값을 삽입
a = ","
b = a.join("python")
print(b)

p,y,t,h,o,n